<div class="card-signin">
  <form (submit)="onSubmitLogIn()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Welcome to Activities</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
      </mat-card-header>

      <mat-form-field>
        <mat-label>Enter your username</mat-label>
        <input [(ngModel)]="loginForm.username" name="username" matInput placeholder="John" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input [(ngModel)]="loginForm.password" name="password" matInput [type]="hide ? 'password' : 'text'" required>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-card-actions align="end">
        <button type="button" mat-button routerLink="">Cancel</button>
        <button type="submit" mat-stroked-button color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
