<!-- <p>details works! {{ projectId }}</p> -->

<header class="font-bold mt-5 mx-auto max-w-7xl px-8 grid md:grid-cols-1">
  <h1 class="text-3xl text-black pb-4">Project Working with Tailwind CSS</h1>
  <hr />
  <p class="text-xl flex items-center">แก้ไขโครงการ 2024</p>
</header>

<form (submit)="onSubmit()" #projectForm="ngForm" class="form-content p-3">

  <!-- Forms Manage Project -->
  <table mat-table cellspacing="0" class="mx-auto">
    <tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Project Name</mat-label>
          <input matInput [(ngModel)]="project.name" #name="ngModel" name="name" placeholder="Name" required>
          @if (name.errors?.['required']) {
          <mat-error>Project Name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Company ID</mat-label>
          <input matInput disabled value={{project.id}}>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput [(ngModel)]="project.startDate" #startDate="ngModel" name="startDate" type="date" required>
          @if (startDate.errors?.['required']) {
          <mat-error>Start Date is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>End Date</mat-label>
          <input matInput [(ngModel)]="project.endDate" #endDate="ngModel" name="endDate" type="date" required>
          @if (endDate.errors?.['required']) {
          <mat-error>End Date is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <mat-form-field class="w-full">
          <mat-label>Upload</mat-label>
          <button type="button" mat-icon-button matPrefix
            (click)="f_input.click()"><mat-icon>attach_file</mat-icon></button>
          <input readonly matInput #name="ngModel" [(ngModel)]="file_name" name="file" placeholder="Files or Project">
          <input type="file" multiple #f_input hidden (change)="uploading($event)" />
          <mat-hint align="end">files {{this.file.length}}/5</mat-hint>
        </mat-form-field>
      </td>
    </tr>

    @if(this.file.length > 0) {
    <strong>Files to Upload</strong>
    <tr *ngFor="let f of file, let i = index">
      <td colspan="2">
        <mat-list>
          <mat-list-item>
            {{i + 1}}.&nbsp;{{f.name}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </td>
    </tr>
    }

    @if(showFiles.length > 0) {
    <br>
    <strong>Click to Download File</strong>
    <tr *ngFor="let f of showFiles, let i = index">
      <td colspan="2">
        <mat-list>
          <mat-list-item>
            {{i + 1}}.
            &nbsp;
            <a [href]="'http://localhost:8000/api/File/download/'+ f.id " target="_blank" download
              class="text-blue-400 hover:text-blue-700">{{f.fileName}}</a>
            &nbsp;
            <button type="button" (click)="onIsDelete(f.id)" mat-button
              color="warn"><mat-icon>delete</mat-icon></button>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </td>
    </tr>
    }


    <tr>
      <td colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>Add Activity</mat-label>
          <input matInput [(ngModel)]="newActivityName" name="newActivity" placeholder="Main Activity">
        </mat-form-field>

        <!-- ฺ(Button) Add / Done -->
        @if(!newActivityName) {
        <button type="button" mat-icon-button (click)="toggleNewActivityField()" color="primary">
          <mat-icon>add_circle</mat-icon>
        </button>
        } @else {
        <button type="button" mat-icon-button (click)="addActivity()" style="color: green;">
          <mat-icon>check_circle</mat-icon>
        </button>
        }
      </td>
    </tr>
  </table>

  <!-- Table Activities -->
  @if (project.activities && project.activities.length > 0) {
  <h3 class="text-center mt-3">รายการกิจกรรม</h3>

  <table mat-table cellspacing="0" class="mx-auto">
    <!-- Angular Template Outlet เพื่อแสดงกิจกรรมหลัก โดยส่ง project.activities และระดับ (level) เริ่มต้นเป็น 1 -->
    <ng-container *ngTemplateOutlet="nestedActivities; context: { $implicit: project.activities, level: 1 }">
    </ng-container>

    <!-- สร้างโครงสร้างของกิจกรรมที่ซ้อน #nested เป็น template สำหรับ กิจกรรมหลัก และกิจกรรมย่อย -->
    <ng-template #nestedActivities let-activities let-level="level">
      <ng-container *ngFor="let sub of activities; let index = index; trackBy: trackByFn">
        <tr *ngIf="sub.isDelete != true">
          @if (level == 1 && index == 0) {
          <!-- Main Activity -->
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="sub.name" name="mainActivity" placeholder="Main Activity">
            </mat-form-field>
          </td>
          } @else {
          <!-- เติมช่องว่างสำหรับกิจกรรมย่อย -->
          <td *ngFor="let i of [].constructor(level - 1)"></td>
          <!-- Sub Activity -->
          <td>
            <!-- index:{{index}}, level:{{level}} -->
            <mat-form-field>
              <input matInput [(ngModel)]="sub.name" name="{{sub.name}}" placeholder="Sub Activity">
            </mat-form-field>
          </td>
          }

          <!-- Button Remove / Add Activity -->
          <td>
            <button type="button" mat-icon-button color="warn" (click)="removeSubActivity(sub)">
              <mat-icon>remove</mat-icon>
            </button>
            <button type="button" mat-icon-button color="primary" (click)="addSubActivity(sub)">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </tr>

        <!-- แสดงกิจกรรมย่อยถ้ามี -->
        @if (sub.inverseActivityHeader && sub.inverseActivityHeader.length > 0) {
        <ng-container
          *ngTemplateOutlet="nestedActivities; context: { $implicit: sub.inverseActivityHeader, level: level + 1 }">
        </ng-container>
        }
      </ng-container>
    </ng-template>
  </table>
  }



  <!-- Cancel / Submit Buttons -->
  <div class="flex justify-center mt-4 mb-5">
    <button mat-button type="button" [routerLink]="['/project']">Back</button>
    &nbsp;
    <button mat-flat-button type="submit" color="primary" cdkFocusInitial>Submit</button>
  </div>
</form>

<br>
<br>