<nav class="navbar">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" type="button"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="h-8 w-auto" src="../../../assets/angular-icon.png" alt="Your Company">
    <span class="example-spacer"></span>
    @if(token == null) {
    <span>Log In</span>
    <button routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
      <mat-icon><span class="material-symbols-outlined">
          login
        </span></mat-icon>
    </button>
    } @else{
    <span>Welcome, {{"admin"}}</span>
    }

  </mat-toolbar>
</nav>

<mat-drawer-container class="example-container">

  <!-- Side -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    @if (showFiller) {
    <section class="p-4">
      <h4>Welcome, {{"admin"}}</h4>
    </section>
    }

    <ul>
      <li>
        <button (click)="showFiller = !showFiller"
          class="p-3 w-full flex justify-start items-center border hover:bg-gray-100">
          <span class="flex-shrink-0"><mat-icon>account_circle</mat-icon></span>
          <span class="flex-grow text-center">Profile</span>
        </button>
      </li>
      <li>
        <button routerLink="dashboard" class="p-3 w-full flex justify-start items-center border hover:bg-gray-100">
          <span class="flex-shrink-0"><mat-icon>dashboard</mat-icon></span>
          <span class="flex-grow text-center">Dashboard</span>
        </button>
      </li>
      <li>
        <button routerLink="project" class="p-3 w-full flex justify-start items-center border hover:bg-gray-100">
          <span class="flex-shrink-0"><mat-icon>assignment</mat-icon></span>
          <span class="flex-grow text-center">Projects</span>
        </button>
      </li>
      <li>
        <button routerLink="users" class="mb-3 p-3 w-full flex justify-start items-center border hover:bg-gray-100">
          <span class="flex-shrink-0"><mat-icon>groups</mat-icon></span>
          <span class="flex-grow text-center">Users</span>
        </button>
      </li>
    </ul>

    @if (token != null) {
    <div class="flex justify-center">
      <button mat-stroked-button color="warn" (click)="openDialog('0ms', '0ms')">Log Out</button>
    </div>
    }
  </mat-drawer>

  <!-- Main content -->
  <div class="example-sidenav-content">
    <router-outlet />
  </div>

</mat-drawer-container>