.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  /* แสดงสีพื้นหลังเพื่อแยกความแตกต่างระหว่าง drawer และเนื้อหาหลัก */
  background: #eee;
}

.example-sidenav {
  padding: 20px;
  width: 200px;
}
