<nav>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" type="button"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    @if(token == null) {
    <span>Log In</span>
    <button routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
      <mat-icon><span class="material-symbols-outlined">
          login
        </span></mat-icon>
    </button>
    }

  </mat-toolbar>
</nav>

<mat-drawer-container class="example-container">

  <!-- Side -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
    <p>Hello World !</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle
    </button>
    <p>&nbsp;</p>
    @if (token != null) {
    <button (click)="onClickLogOut()" mat-raised-button color="warn">
      Log Out
    </button>
    }
  </mat-drawer>

  <!-- Main content -->
  <div class="example-sidenav-content">
    <router-outlet />
  </div>

</mat-drawer-container>