<div class="dashboard-container">
  <mat-card class="dashboard-card" routerLink="/dashboard">
    <mat-card-content>
      <mat-icon class="dashboard-icon">home</mat-icon>
      <h3>Dashboard</h3>
      <p>หน้าแรก</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" routerLink="/project">
    <mat-card-content>
      <mat-icon class="dashboard-icon">shopping_cart</mat-icon>
      <h3>Project</h3>
      <p>โครงการ</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" routerLink="/activities">
    <mat-card-content>
      <mat-icon class="dashboard-icon">category</mat-icon>
      <h3>Activities</h3>
      <p>กิจกรรมต่างๆ</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card" routerLink="/account">
    <mat-card-content>
      <mat-icon class="dashboard-icon">list</mat-icon>
      <h3>Account</h3>
      <p>พนักงาน</p>
    </mat-card-content>
  </mat-card>
</div>
