<form (submit)="onSubmitCreate()" class="p-3" #projectForm="ngForm">
  <h2 mat-dialog-title>Add Project</h2>

  <mat-dialog-content>

    <!-- Forms Add Project -->
    <p>เพิ่มโครงการและรายการกิจกรรมต่างๆ</p>
    <table cellspacing="0">
      <tr>
        <td colspan="2">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Project Name</mat-label>
            <input matInput [(ngModel)]="project.name" #name="ngModel" name="name" placeholder="Name" required>
            @if(name.errors?.['required']) {
            <mat-error>Project Name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Start Date</mat-label>
            <input matInput [(ngModel)]="project.startDate" #startDate="ngModel" name="startDate" type="date" required>
            @if (startDate.errors?.['required']) {
            <mat-error>Start Date is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>End Date</mat-label>
            <input matInput [(ngModel)]="project.endDate" #endDate="ngModel" name="endDate" type="date" required>
            @if (endDate.errors?.['required']) {
            <mat-error>End Date is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <mat-form-field class="w-full">
            <mat-label>Upload</mat-label>
            <button type="button" mat-icon-button matPrefix
              (click)="f_input.click()"><mat-icon>attach_file</mat-icon></button>
            <input readonly matInput [(ngModel)]="file_name" name="file" placeholder="Files or Project">
            <input type="file" multiple #f_input hidden (change)="uploading($event)" />
            <mat-hint align="end">files {{this.file.length}}/5</mat-hint>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Add Activity</mat-label>
            <input matInput [(ngModel)]="newActivityName" name="activityName" placeholder="Main Activity">
          </mat-form-field>

          <!-- ฺ(Button) Add / Done -->
          @if(!newActivityName) {
          <button mat-icon-button (click)="toggleNewActivityField()">
            <mat-icon>add_circle</mat-icon>
          </button>
          } @else {
          <button mat-icon-button (click)="addActivity()">
            <mat-icon>check_circle</mat-icon>
          </button>
          }
        </td>
      </tr>

    </table>

    <!-- Table Activities -->
    @if (project.activities && project.activities.length > 0) {
    <h3 class="text-bold mt-3 text-center">Activities</h3>
    <table mat-table cellspacing="0">

      <!-- Main -->
      <tr>
        <ng-container
          *ngTemplateOutlet="nestedActivities; context: { $implicit: project.activities, level: 1 }"></ng-container>
      </tr>

      <!-- Sub -->
      <ng-template #nestedActivities let-activities let-level="level">
        <ng-container *ngFor="let subActivity of activities; let idx = index">
          <tr>
            @if (level === 1 && idx === 0) {
            <td class="td">{{ subActivity.name }}</td>
            } @else {
            <td *ngFor="let i of [].constructor(level - 1)" class="td"></td>
            <td class="td">{{ subActivity.name }}</td>
            }

            <!-- Remove / Add -->
            <button type="button" mat-icon-button (click)="removeSubActivity(activities, idx)">
              <mat-icon>remove</mat-icon>
            </button>
            <button type="button" mat-icon-button (click)="addSubActivity(subActivity)">
              <mat-icon>add</mat-icon>
            </button>
          </tr>

          <!-- Sub Sub -->
          @if (subActivity.inverseActivityHeader && subActivity.inverseActivityHeader.length > 0) {
          <ng-container
            *ngTemplateOutlet="nestedActivities; context: { $implicit: subActivity.inverseActivityHeader, level: level + 1 }"></ng-container>
          }

        </ng-container>
      </ng-template>

    </table>
    }

  </mat-dialog-content>

  <!-- (Button) Cancel / Submit -->
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-flat-button type="submit" color="primary" cdkFocusInitial>Submit</button>
    <!-- <button mat-flat-button type="submit" color="primary" cdkFocusInitial
      [disabled]="projectForm.invalid">Submit</button> -->
  </mat-dialog-actions>


</form>