/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0; /* ลบ margin เริ่มต้น */
  padding: 0; /* ลบ padding เริ่มต้น */
  height: 100vh; /* ตั้งค่าให้ความสูงเต็มหน้าจอ */
  width: 100%; /* ตั้งค่าให้ความกว้างเต็มหน้าจอ */
  box-sizing: border-box; /* รวม padding และ border ในขนาดของ element */
}
